.container {
	text-align: center;
}
.juego {
	padding: 30px 50px;
	border: 2px solid rgba(156, 39, 176, 0.32);
	display: inline-table;
}
#turno p {
	margin: 20px auto 0;
	color: purple;
}
h1 {
	color: purple;
	font-size: 45px;
	margin: 20px auto;
}
.box, p {
	font-size: 35px;
	margin: 0;
}
.box {
	border: 1px solid purple;
	width: 70px;
	height: 70px;
	padding: 10px;
	margin: 5px;
	border-radius: 3px;
	display: inline-block;
}
#fila-1, #fila-2, #fila-3 {
	position: relative;
	display: flex;
	align-items: center;
  	justify-content: center;
}
button {
	background: purple;
	color: white;
	margin: 30px auto;
	padding: 10px 30px;
	border: 0;
	border-radius: 3px;
}
